@font-face {
  font-family: MuseoSansCyrl100;
  src: url("../../fonts/MuseoSansCyrl/MuseoSansCyrl_100.ttf");
}

@font-face {
  font-family: MuseoSansCyrl300;
  src: url("../../fonts/MuseoSansCyrl/MuseoSansCyrl_300.ttf");
}

@font-face {
  font-family: MuseoSansCyrl500;
  src: url("../../fonts/MuseoSansCyrl/MuseoSansCyrl_500.ttf");
}

@font-face {
  font-family: MuseoSansCyrl700;
  src: url("../../fonts/MuseoSansCyrl/MuseoSansCyrl_700.ttf");
}

@font-face {
  font-family: MuseoSansCyrl900;
  src: url("../../fonts/MuseoSansCyrl/MuseoSansCyrl_900.ttf");
}